// COLORS
$primary-color: #69140E;
$secondary-color: #FF715B;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f1f0cc;

$DavysGrey: #4C5454;

$dark-blue-text: #197278; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// colours used
//https://coolors.co/4c5454-ff715b-69140e-1ea896-523f38 the same for my cv.