// COLORS
$primary-color: #A71D31;
$secondary-color: #D76A03;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-sienna: #3F0D12;

$dark-blue-text: #197278; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// colours used
//https://coolors.co/197278-a71d31-d76a03-3f0d12-f1f0cc 